# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Cartelle di piattaforma generate con `flutter create .`
/android/
/ios/
/linux/
/macos/
/windows/
/web/

# IDE
.idea/
*.iml
.vscode/
